@tailwind base;
@tailwind components;
@tailwind utilities;

/* Added Tailwind classes to <main> element in index.tsx */
/* body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0px 0px 20px 0px;
	line-height: 1.5;
	background-color: #14161c !important;
} */

:root {
	/* Sets base font-size for REMs to be based off of. */
	font-size: 16px;
}

p {
	padding-bottom: 1rem !important;
}

h2 {
	@apply text-2xl !important;
}

h3 {
	@apply text-2xl pb-1 mb-2 !important;
}

a {
	@apply text-white border-b-2 border-solid border-sky-500;
}

a:hover {
	@apply border-none;
}
h1,
h2,
.section-header {
	display: inline-block;
	font-family: 'Lato', monospace;
	color: white;
	margin: 0 auto 10px auto;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ff8500;
}

.layout {
	max-width: 760px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	height: 80px;
}

.footer {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 20px;
}

.copyright-and-docs {
	color: white;
}

.copyright-and-docs a {
	margin-left: 5px;
}

/* index */

.section-link {
	margin-right: 10px;
}

.logo {
	max-width: 250px;
	display: block;
}

.logo-sm-screen {
	align-content: right;
	/* margin: 20px auto; * */
	margin: 0px auto;
	display: block;
}

.full-height-row {
	height: 100vh;
}

.activity-container {
	color: white;
	border: 2px solid #003459;
	background-color: rgba(0, 52, 89, 0.6);
	border-radius: 15px;
	padding: 20px;
	margin: 10px auto;
	height: 90%;
}

.container-wrapper {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: inline-block;
}

h3 {
	color: white;
}

code {
	background-color: rgba(0, 52, 89, 0.6);
	border-radius: 5px;
	padding: 0px 2px;
	color: #ff8500 !important;
}

.centered-header {
	text-align: center;
}

.section {
	min-height: 550px;
}

.welcome-col {
	display: flex;
	flex-direction: row;
}

.welcome-content {
	padding: 0px 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.welcome-text {
	color: white;
	font-size: 22px;
	margin-bottom: 20px;
}

.small-screen-spacer {
	height: 200px;
}

.agree-to-rules-check {
	padding-right: 10px;
}

/* ChatBubble.tsx */

.chat-bubble {
	display: flex;
	background-color: #36393f;
	color: white;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.chat-bubble .avatar {
	background-color: white;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding: 10px;
	margin: 5px;
}

.chat-bubble .text-area {
	font-size: 14px;
}

.chat-bubble .username {
	padding-top: 1px;
	font-weight: bold;
}

.chat-bubble .text-area .text {
	margin-top: -1px;
	line-height: 16px;
}

/* rules section */
.rules .rules-intro {
	color: white;
	margin: 10px 0px 20px 0px;
}

.rules .rules-container {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	padding: 20px;
	margin: 10px auto;
}

.rules .agree-to-rules-check {
	color: white;
	margin: 10px 0px;
}

.rules .agree-to-rules-button {
	background-color: #00a8e8 !important;
	color: white !important;
}

.rules .agree-to-rules-button-disabled {
	background-color: #3d6371 !important;
	cursor: not-allowed;
}
