@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0px 0px 20px 0px;
  line-height: 1.5;
  color: #fefefe;
  @apply bg-[#111111];
  /* @apply bg-gradient-to-tl from-[#1B1923] to-[#22252F]; */
  /* background-color: #14161c !important; */
}

p {
  padding-bottom: 1rem !important;
}

h1 {
  @apply text-4xl pb-3 mb-2 !important;
}

h2 {
  @apply text-2xl !important;
}

h3 {
  @apply text-2xl pb-1 mb-2 !important;
}

/* .home h1,.home h2, .home .section-header {
  display: inline-block;
  font-family: 'Lato', monospace;
  color: white;
  margin: 0 auto 10px auto;
  padding-top: 15px;
  padding-bottom: 5px;;
  border-bottom: 2px solid #FF8500;
}

.home .layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.home .footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}

.home .copyright-and-docs {
  color: white;
}

.home .copyright-and-docs a {
  margin-left: 5px;
}

.home a {
	color: white !important;
	border-bottom: 2px solid #00a8e8;
}

.home a:hover {
	text-decoration: none !important;
	border-bottom: 2px solid #003459;
}

.home .section-link {
	margin-right: 10px;
}

.home .logo {
	max-width: 250px;
	display: block;
}

.home .logo-sm-screen {
	align-content: right;
	margin: 0px auto;
	display: block;
}

.home .full-height-row {
	height: 100vh;
}

.home .activity-container {
	color: white;
	border: 2px solid #003459;
	background-color: rgba(0, 52, 89, 0.6);
	border-radius: 15px;
	padding: 20px;
	margin: 10px auto;
	height: 90%;
}

.home .container-wrapper {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
	display: inline-block;
}

.home h3 {
	color: white;
}

.home code {
	background-color: rgba(0, 52, 89, 0.6);
	border-radius: 5px;
	padding: 0px 2px;
	color: #FF8500 !important;
}

.home .centered-header {
	text-align: center;
}

.home .section {
	min-height: 550px;
}

.home .welcome-col {
	display: flex;
	flex-direction: row;
}

.home .welcome-content {
	padding: 0px 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.home .welcome-text {
	color: white;
	font-size: 22px;
	margin-bottom: 20px;
}

.home .small-screen-spacer {
	height: 200px;
}

.home .agree-to-rules-check {
	padding-right: 10px;
}

.chat-bubble {
  display: flex;
  background-color: #36393F;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.chat-bubble .avatar {
  background-color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 5px;
}

.chat-bubble .text-area {
  font-size: 14px
}

.chat-bubble .username {
  padding-top: 1px;
  font-weight: bold;
}

.chat-bubble .text-area .text {
  margin-top: -1px;
  line-height: 16px;
} */

/* rules section */
/* .rules .rules-intro {
  color: white;
  margin: 10px 0px 20px 0px;
}

.rules .rules-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
}

.rules .agree-to-rules-check {
  color: white;
  margin: 10px 0px;
}

.rules .agree-to-rules-button {
  background-color: #00A8E8 !important;
  color: white !important;
}

.rules .agree-to-rules-button-disabled {
  background-color: #3d6371 !important;
  cursor: not-allowed;
} */